// Colors
//
// Grayscale.

$gray-darkest: #121212;
$gray-darker: #323232;
$gray-dark: #6f6f6e;
$gray: #54698d;
$gray-light: #a8b7c7;
$gray-lighter: #c9d3e4;
$gray-lightest: #f5f8fc;

// Brand

$brand-primary: #ffe37d;
$brand-primary-dark: #FFDC60;
// Body
//
// Settings for the `<body>` element.

$body-bg: #ffff;
$body-color: #0e0101;

// Typography
//
// Font, line-height, and color for body text, headings, and more.
@font-face {
  font-family: 'MSSans'; // Choose a name for your font
  src: url('../../fonts/MSSansSerif8p.ttf') format('truetype'); // Use relative path to link the font
  font-weight: normal; // Specify font weight if applicable
  font-style: normal; // Specify font style if applicable
}
@font-face {
  font-family: 'MSSans'; // Choose a name for your font
  src: url('../../fonts/MSSansSerif8pbold.ttf') format('truetype'); // Use relative path to link the font
  font-weight: bold; // Specify font weight if applicable
  font-style: normal; // Specify font style if applicable
}

$font-family-system: 'MSSans';

$font-family-base: $font-family-system;
$font-weight-base: 400;
$font-size-base: 1rem;
$line-height-base: 1.625;
