---
permalink: 'embed.js'
---
class WebringBanner extends HTMLElement {
    constructor() {
        super();

        this.ringtitle = '{{ meta.title }}';
        this.url = '{{ meta.url }}';
        this.image = this.url + '/assets/images/{{ meta.image }}';
        this.membercount = {{ members | length}};

        this.shadowObj = this.attachShadow({ mode: 'open' });
        this.render();
    }

    getStyles() {
        return `
        <style>
          * {
            box-sizing: border-box;
          }
        
          :root {
            font-size: 100%;
          }

          :host {
            display: block;
            width: 100%;
            font-size: 16px;
            color: "#ffffff"
          }
  
          .webring-banner {
            background: linear-gradient(0deg, rgba(0,2,22,1) 0%, rgba(0,0,0,1) 33%, rgba(50,4,4,1) 100%);
            border: ridge gray 3px;;
            max-width:480px;
          }

          .webring-banner a {
            color: #ffe37d;
            text-decoration:none;
          }

          .webring-banner a:hover,
          .webring-banner a:focus {
            color: #7ddaff;
          }

          .webring-banner__header {
            border-bottom: 3px rifge gray;
          }

          .webring-banner__title {
            text-align-center;
            font-size:1.25rem;
            font-weight: bold;
            line-height:1.2;
          }

          .webring-banner__links {
            display:flex;
            flex-wrap: wrap;
            justify-content: space-between;
            padding: 1rem;
            margin:0;
          }

          .webring-banner__link {
            display:block;
            text-decoration:none;
            color: #00ad9f;
          }

          .webring-banner__link--random {
            text-align:center;
          }

          .webring-banner__link--next {
            text-align:right;
          }

          @media (min-width:400px) {
            .webring-banner__link {
                min-width:100px;
            }
            .webring-banner__info {
                align-items:center;
            }
          }
        </style>
      `;
    }

    getTemplate() {
        return `
          ${this.getStyles()}
          <div class="webring-banner">
            <div class="webring-banner__header">
              <div class="webring-banner__description">
                <h3 class="webring-banner__title"><a href="${this.url}">${this.ringtitle}</a></h3>
              </div>
            </div>
            <p class="webring-banner__links">
              <a 
                href="${this.url}/prev" 
                class="webring-banner__link webring-banner__link--prev" 
                aria-label="Go to previous site"
              >←Previous</a>
              <a
                href="${this.url}/random"
                class="webring-banner__link webring-banner__link--random" 
                aria-label="Go to a random site"
              >Random</a>
              <a
                href="${this.url}/next"
                class="webring-banner__link webring-banner__link--next"
                aria-label="Go to next site"
              >Next→</a>
            </p>
          </div>
        `;
    }

    render() {
        this.shadowObj.innerHTML = this.getTemplate();
    }
}

customElements.define('webring-banner', WebringBanner);
