---
layout: base
---

{% include 'webring.njk' %}

<div class="markdown">
    <h2>What's this?</h2>
<p>An RSS feed (Really Simple Syndication) is a web feed format that allows users to receive updates from websites in a structured and automatic way. It delivers new content, such as blog posts, news articles, or podcast episodes, directly to subscribers without them having to visit the website manually. </p>
<p>I learned about RSS feed recently and fell in love with the concept and everything related to these feeds. I made myself one, and wanted to see how it looked like in an RSS reader.</p>
<p>But, when I got myself a reader and saw that I only followed my feed... I felt so lonely.</p>
<p>This webring is for people who have an RSS feed (for their personal website) and want to find other people with RSS feeds to follow.</p>
<p>I know that's a bit weird m, like, who even thinks about making a ring for people with RSS feeds, right? Haha.<p/> 
<p>For that reason, and because not many people have (and know) about RSS feeds In The Year Of Our Lord 2024™, I know it may be a bit hard to grow this ring, and also because not many people have their own RSS feed.</p>
<p>Also for that reason, I hope the members of this ring will grow a sense of community, subscribing to each other's feeds and visiting our websites everytime we're notified about updates.</p>

    <h2>How to join</h2>
    <p>
        To join the webring, <a href="{{ meta.repo }}/compare">open a pull request</a> 
        and supply the name and URL of your site. Provide your RSS feed as well.
    </p>
    <p>
        If you don't have a Github account, you can also use this form to sign up. 
        The webring admins will then look at your site and handle your request.
    </p>

    {% include 'signupform.njk' %}

    <h2>Add the banner</h2>
    <p>
        Once you've joined the ring, copy this code snippet into your site:
    </p>

    {% highlight 'html' %}{% include 'snippet.njk' %}{% endhighlight %}

    <p>
        It will render this banner that links to the other members:
    </p>

    {% include 'snippet.njk' %}

    <h2>Want to host your own webring?</h2>
    <p>
        If you want to start your own webring, fork 
        <a href="https://github.com/maxboeck/webring">this project</a> on Github 
        and follow the instructions in the README.
    </p>

    {% include 'github.njk' %}
</div>
